@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #fff;
    --font-heading: 'Poppins';
    --font-default: 'Montserrat';
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    color: var(--text-color);
}

html{
    font-size: 62,5%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: 100%auto;
    background-position: center;
    text-align: center;
    align-items: center;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins';
}

.button{
    background:linear-gradient(90deg, #F12711, #F5AF19);
    padding: 0.5rem 1.5rem;
    border-radius: 3.5px;
    color: #fff;
    font-size: 1rem;
    font-family: var(--font-default);
    text-decoration: none;
}

section{
    background-color: #031E3C;
}

.section-presentation{
    display: flex;
    color:var(--text-secudary);
    gap: 2rem;
}

.section-presentation div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    padding-bottom: 1.5rem;
}

.taca3{
    display: flex;
    width: 60%;
    height: auto;
    align-items: center;
    padding-top: 1.5rem;
  }

p{
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 2rem;
}

p1{
   display: flex;
   flex-direction: column;
   padding-left: 12rem;
   padding-right: 12rem;
   font-size: 2rem;
}

.estadio{
    display: flex;
    width: 40%;
    height: auto;
    align-items: center;
}