@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #fff;
    --font-heading: 'Poppins';
    --font-default: 'Montserrat';
}


html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    color: var(--text-color);
    background-color: #031E3C;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.spiner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 16px solid #999;
    border-top: 16px solid#fd2e70;
    animation: spin 3s infinite;
}

.hide {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

#hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 11;
}

#hamburger .linha {
    width: 100%;
    height: .4rem;
    background-color: #ffffff;
    box-shadow: .1rem .1rem rgb(51, 51, 51);
    border-radius: .4rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    right: 0rem;
    background: linear-gradient(90deg, #031E3C, #094080);
    height: 30rem;
    width: 20rem;
    z-index: 10;
    transition: 1s;
    font-size: 1.5rem;
}

#menu li {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: rgb(202, 202, 202);
}

#menu a:hover {
    color: #fff;
}

.menu-show {
    right: -20rem;
}

header h1 {
    font-size: clamp (2rem, 5vw, 2rem);
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
}


header::before {
    content: '';
    width: 100%;
    height: 100vh;
    background-image: url("../images/gup_resized2.jpg");
    background-size: 100% 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    animation: zoom 5s ease-in-out;
}

@keyframes zoom {
    0% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}


h1 {
    font-size: 5.5rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins';
    animation: rotate-hor-center 1s cubic-bezier(.455, .03, .515, .955) both;
}

@keyframes rotate-hor-center {
    0% {
        transform: rotateX(0)
    }

    100% {
        transform: rotateX(-360deg)
    }
}

.button {
    background: linear-gradient(90deg, #56ab2f, #a8e063);
    padding: 0.75rem 1.75em;
    border-radius: 15px;
    color: #fff;
    font-size: 2rem;
    font-family: var(--font-default);
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #a8e063;
}

section {
    background-color: #031E3C;
}

.section-presentation {
    display: flex;
    color: var(--text-secudary);
    flex-direction: column;
}


.section-presentation div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.taca3 {
    gap: 2rem;
    display: flex;
    width: 45%;
    height: auto;
    align-items: center;
    padding-top: 0.5rem;
}

.texto1 {
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 2rem;
    font-family: var(--font-default)
}

.estadio {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    padding-top: 0.5rem;
}

h2 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin-top: 1.5rem;
    align-items: center;
}

#section-chave {
    gap: 2rem;
    padding-bottom: 6rem;
}

#section-chave ul {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20rem;
    margin-right: 20rem;
}

#section-chave li {
    list-style: none;
    position: relative;
    cursor: pointer;
}

.chelsea {
    width: 275px;
    height: 375px;
    padding-top: 0;
    padding-bottom: 10rem;
}

.corinthians {
    width: 275px;
    height: 375px;
    padding-bottom: 10rem;
}

.monterrey {
    width: 275px;
    height: 375px;
    padding-bottom: 10rem;
}

.alalhy {
    width: 275px;
    height: 385px;
    padding-bottom: 10rem;
}

.ulsan {
    width: 275px;
    height: 374px;
    padding-bottom: 10rem;
}

.aucity {
    width: 250px;
    height: 365px;
    padding-bottom: 10rem;
}

#section-chave li .time-info {
    position: absolute;
    opacity: 0;
    bottom: -20px;
    transition: opacity .5s, bottom .5s;
  }

.time-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 1rem; 
    font-size: 1.5rem;
}

#section-chave h2 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin-top: 1.5rem;
    align-items: center;
}

#section-loja {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/coleção.jpg");
    background-size: cover;
}

.loja {
    display: flex;
    justify-items: start;
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: #8C8C8C99;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: clamp(300px, 50%, 500px);
    padding: 2rem;
}

.loja h2 {
    margin-top: 0;
    font-size: 2.5rem;
    position: absolute;
    top: -15%;
    background-color: #031E3C;
    padding: 1rem 1rem;
    border-radius: 5px;
}

.loja span{
    font-size: 2rem;
    font-weight: bold;
}

.loja label {
    display: block;
    font-weight: 750;
    margin-top: 1rem;
    font-size: 2rem;
}

.loja select,
.loja input[type="text"] {
    border: none;
    border-radius: 5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 100%;
    margin-top: .5rem;
}

.loja .radio-buttons {
    margin-top: .5rem;
    display: flex;
    gap: 1rem;
}

.loja .radio-buttons label {
    display: flex;
    align-items: center;
}

.loja .radio-buttons input[type="radio"] {
    margin-right: .5rem;
}

.loja .name-input {
    margin-top: 1rem;
    display: none;
}

.loja .total {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.loja .total span {
    font-size: 2.2rem;
}

.loja button {
    background-color: #031E3C;
    border: none;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    margin-top: 2rem;
    transition: background-color 0.2s ease-in-out;
}

.loja button:hover {
    background-color: #052e5e;
}

@media (max-width: 980px) {
    .texto1 {
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 2rem;
        font-family: var(--font-default)
    }

    .estadio {
        display: flex;
        width: 70%;
        height: auto;
        align-items: center;
        padding-top: 0.5rem;
    }

    .taca3 {
        gap: 2rem;
        display: flex;
        width: 85%;
        height: auto;
        align-items: center;
        padding-top: 0.5rem;
    }

    .chelsea {
        width: 265px;
        height: 365px;
        padding-top: 0;
        padding-bottom: 10rem;
    }
    .aucity {
        width: 250px;
        height: 360px;
        padding-bottom: 10rem;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: fixed;
        right: 0rem;
        background: linear-gradient(90deg, #031E3C, #094080);
        height: 21rem;
        width: 17rem;
        z-index: 10;
        transition: 1s;
        font-size: 1.5rem;
    }
    #menu a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    header::before {
        content: '';
        width: 100%;
        height: 100vh;
        background-image: url("../images/guerreiro2.jpg");
        background-size: cover;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
        animation: zoom 5s ease-in-out;
    }
    
}
