@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #fff;
    --font-heading: 'Poppins';
    --font-default: 'Montserrat';
}


html{
    font-size: 62,5%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    color: var(--text-color);
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
}


header::before{
    content:'';
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero00_resized.jpg");
    background-size: 100% 102%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    animation: zoom 5s ease-in-out;
}

@keyframes zoom {
    0%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}


h1{
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins';
    animation:rotate-hor-center 1s cubic-bezier(.455,.03,.515,.955) both;
}

@keyframes rotate-hor-center {
    0% {
        transform:rotateX(0)
    }
    100% {
        transform:rotateX(-360deg)
    }
}

.button{
    background:linear-gradient(90deg, #56ab2f, #a8e063);
    padding: 0.75rem 1.75em;
    border-radius: 15px;
    color: #fff;
    font-size: 1.5rem;
    font-family: var(--font-default);
    text-decoration: none;
}

.button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #a8e063;
} 

section{
    background-color: #031E3C;
}

.section-presentation{
    display: flex;
    color:var(--text-secudary);
    gap: 2rem;
}

.section-presentation div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.taca3{
    gap: 2rem;
    display: flex;
    width: 60%;
    height: auto;
    align-items: center;
    padding-top: 0.5rem;
  }

p{
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 1.5rem;
}

p1{
   display: flex;
   flex-direction: column;
   padding-left: 12rem;
   padding-right: 12rem;
   font-size: 1.5rem;
}

.estadio{
    display: flex;
    width: 40%;
    height: auto;
    align-items: center;
    padding-top: 0.5rem;
}